@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #40AF94;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"Host Grotesk", sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: #222222;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 0.70rem;
}

footer a{
    color: white;
}

.payment-section{
    position: absolute;
    z-index: 999;
    width: 300px;
    display: none;
    justify-content: space-between;
    height: 300px;
    flex-direction: column;
    padding: 1rem;
    background-color: #e7e5e5;
    border-radius: 15px;
    box-shadow: 3px #222222 ;
    text-align: center;
}

.sub-text{
    font-size: small;
}

.way-payment{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
.viewer-price{
    font-size: large;
    background-color: #d7d7d7;
    display: flex;
    padding: 1rem 0.5rem 0 0.5rem;
    border-radius: 0.2rem;
    width: 100%;
    justify-content: space-between;
}

.btn-payment button{
    background-color: transparent;
    padding: 0.5rem;
    width: fit-content;
    flex: 1;
    border-radius: 0.3rem;
    border: 1.5px solid black;
    cursor: pointer;
}
.btn.active{
    border: 1.5px solid #0080FF;
    color: #0080FF;
}
.btn{
    transition: transform ease 2s ;
}
.btn:active{
    transform: scale(0.60);
}

.btn-payment{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
.search-item{
    background-color: white;
    padding: 10px;
    border: none;
    height: 90px;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    cursor: pointer;
    transition:  ease 0.5s;
}

.search-item img {
    height: 100%;
    border-radius: 10px;
}

.search-item:hover{
    border: solid 3px #0080FF;
}
.container-item{
    position: absolute;
    z-index: 1;
    top: -5.5rem;
    display: none;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    overflow: scroll;
    height: 110px;
}

.container-item::-webkit-scrollbar{
    display: none;
}

.container-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}