@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --card-bg:#D9D9D9;
    --bg-main: #40AF94;
    --input-bg:white;
    --text-color-sec: white;
    --text-color: black;
    --text-color-oposite: #D9D9D9;
    --button-color:#111111;
    --divisor-color: #bebebe8f;
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: var(--bg-main);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"Host Grotesk", sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: #222222;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 0.70rem;
}

footer a{
    color: white;
}

.payment-section{
    position: absolute;
    z-index: 999;
    width: 300px;
    display: none;
    justify-content: space-between;
    height: 300px;
    flex-direction: column;
    padding: 1rem;
    background-color: #e7e5e5;
    border-radius: 15px;
    box-shadow: 3px #222222 ;
    text-align: center;
}


.container-search{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 0px 10px 0;
}

.container-main{
    background-color: #D9D9D9;
    width: 700px;
    height: 65%;
    display: flex;
    border-radius: 15px;
}

.search-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: start;
    padding: 30px;
    width: 50%;
}

.overall-section{
    width: 50%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overall-section h3 {
    height: 43.200px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 690px) {
    .container-main{
        flex-direction: column;
        width: 350px;
    }
    .search-section::before{
        display: none;
    }

    .overall-section{
        width: 100%;
    }
    .search-section{
        width: 100%;
    }
    .btn-colection{
        justify-content: space-between;
    }
}
